body {
    background: url("webbg.png");
    background-size: cover;
    background-blend-mode: darken;
}

h1 {
    color: black;
    background-color: lightsalmon;
    border: 10px solid rgb(34, 128, 145);
    border-radius: 15px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 5px;
    font-family: 'Russo One';
    font-size: 40px;

    position: relative;
    top: -4px;
}

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'), local('RussoOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/russoone/v1/RO6e96EC9m6OLO0tr7J3z6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

h2 {
    font-family: 'Exo';
    font-size: 15px;
    font-weight: 1000;
}

h3 {
    font-family: 'Exo';
    font-size: 18px;
    font-weight: 5000;
    color: rgb(94, 8, 8);
}

p {
    font-family: 'Exo';
    font-size: 17px;
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: local('Exo Regular'), local('Exo-Regular'), url(http://themes.googleusercontent.com/static/fonts/exo/v1/m5W5Curk5POZ4iQOoRn-Ug.ttf) format('truetype');
}

.button1 {
    padding: 4px 12px;
    color: #333333;
    background-image: linear-gradient(to bottom, #e2f8eb, #85e2de);
    border: 2px solid rgb(97, 56, 56);
    border-color: rgba(0, 0, 0);
    border-radius: 4px;
    font-family: 'Exo';
    font-size: 22px;
    font-weight: 1000;
    position: relative;
    left: 83px;
    top: -39px;
}

.button1:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    background-color: #e6e6e6;
}

.button1:hover, button1:focus {
    background-color: #e6e6e6;
    color: #333333; 
}

.button2 {
    padding: 4px 12px;
    color: #333333;
    background-image: linear-gradient(to bottom, #e2f8eb, #85e2de);
    border: 2px solid black;
    border-color: rgba(0, 0, 0);
    border-radius: 4px;
    font-family: 'Exo';
    font-size: 22px;
    font-weight: 1000;
    position: relative;
    left: -191px;
    top: -253px;
}

.button2:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    background-color: #e6e6e6;
}

.button2:hover {
    background-color: #e6e6e6;
    color: #333333; 
}

canvas {
    border: 3px inset rgb(65, 14, 14);
    position: relative;
    left: 277px;
    top: 20px;
}

.tab {
    overflow: hidden;
    border: 3px solid rgb(56, 14, 14);
    background-color: rgb(68, 204, 214);
    outline: 0px solid black;
    width: 514px;
    position: relative;
    left: 622px;
    top: -600px;
}

.tab button {
    background-color: rgb(35, 178, 189);
    float: left;
    border: 1px solid rgb(58, 15, 15);
    outline: 0px black;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Exo';
    font-size: 16px;
    font-weight: 2000;
}

.tab button:hover {
    background-color: rgb(247, 172, 142);
}

.tab button.active {
    background-color: lightsalmon;
}

.tabcontent {
    background-color: rgb(128, 216, 231, 0.7);
    display: none;
    padding: 6px 12px;
    border: 3px solid rgb(56, 14, 14);
    border-top: none;
    animation: fadeEffect 1s;
    width: 514px;
    height: 462px;
    position: relative;
    left: 622px;
    top: -600px;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

table {
    font-family: 'Exo';
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1.5px solid #2b1919;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

fieldset {
    padding:10px;
    border-radius:10px;
}
  
label {
    display:inline-block;
    margin-bottom:10px;
}

@import "https://fonts.googleapis.com/css?family=Raleway";

* { box-sizing: border-box; }

#contact {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    margin: 4em auto;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    padding: 4px 12px;
    color: #333333;
    background-image: linear-gradient(to bottom, #e2f8eb, #85e2de);
    border: 2px solid black;
    border-color: rgba(0, 0, 0);
    border-radius: 4px;
    font-family: 'Exo';
    font-size: 22px;
    font-weight: 1000;
    position: relative;
    left: -70px;
    top: -253px;
}

#contact:hover {
    background-color: #e6e6e6;
    color: #333333;
}

#contact:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    background-color: #e6e6e6;
}

#contactForm { 
    display: none;
    
    border: 8px solid salmon;
    border-radius: 10px;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    z-index: 1;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
}

input, textarea { 
    margin: .8em auto;
    font-family: inherit; 
    text-transform: inherit; 
    font-size: inherit;
    
    display: block; 
    width: 280px; 
    padding: .4em;
}

textarea {
    height: 80px; 
    resize: none;
}

.formBtn { 
    width: 140px;
    display: inline-block;
    
    background: teal;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    font-family: 'Exo';
    border: none;
}

::placeholder {
    font-family: 'Exo';
}